.circle-button {
    border-radius: 100px;
    height: 80px;
    width: 80px;
    background-color: transparent;
    min-width: 80px;
    padding: 8px;
}
.main {
    font-weight: bold;
    font-size: x-large
}